/** {
  border: 1px solid black;
  box-sizing: border-box;
}*/

/* global css*/

html, body {

width:100%;
height: 100%;
margin: 0;


}

.nav {

	background-color: 
	hsla(12,85%,43%,.75); 
	margin: 0;
  
}



 .nav-tabs {
 	color: hsla(320,100%,98%,1);
 	margin: 0 auto;

 }




.secondImage {
    position: relative;
  height: 290px;
  width: 300px;
  top: -1px;
  right: 1px;
  /* box-shadow: 0 0 5px hsla(0,0%,17%,1); */
  border-width: 0px;
  color: black;
  margin: 0px auto 0 auto;
  z-index: 3;
}
.secondImage > img {
	height: 100%;
	width: 100%;
}
.title {
   position: absolute;
  height: 17%;
  width: 100%;
  margin: -49px auto 0 auto;
  text-align: center;
  font-size: 2em;
  padding: 5px;
  color: white;
  right: 0px;
  overflow: scroll;
  background: hsla(0,0%,0%,.3);
}
.ratings {
    position: absolute;
  height: 110px;
  top: 250px;
  right: 0px;
  background: hsla(0,0%,0%,.8);
  width: 300px;
  margin: 40px auto;
  /* box-shadow: 0 0 2px hsla(0,0%,17%,1); */
  /* z-index: 5; */
}

.inputDays {
position: relative;
width: 100%;
bottom: 5px;
padding-left: 14px;
border-top: 1px solid black;
}
.inputDays > label {
  display: inline-block;
  text-align: center;
   margin:0 0.3em;
   font-size: 1em;
}
.inputDays > label > input[type="radio"] {
  display: block;
   margin:0 auto;
}


 .secondInstructions{
 width: 40%;
 height: 200px;
float: left;
/*margin: 0 auto;*/
border: 1px solid black;
/*display: flex;
box-sizing: border-box;
flex-direction: row;
flex-wrap: wrap;*/
background-color: white;
overflow: auto;

}
.displayImage {
position: absolute;
top:42px;

height: 667px;
width: 100%;
z-index:1;
}
.top-container {
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  left: 32px;
  margin: 0 auto;
  z-index:2;
}


 .top {
 	height:10%;
 	width: 13%;
 	border-bottom: 1px solid black;
 	box-sizing: border-box;
 	background-color: hsla(12,85%,43%,1);
 	text-align: center;
  box-shadow: 0 0 10px hsla(0,0%,17%,1);
 
 }
 
.day-container {
 position: absolute;
 left: 32px;
  top: 170px;
  height:25%;
  width:95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index:2;
}
 .day {
 	box-shadow: 0 0 5px hsla(0,0%,17%,1);
 	height: 100%;
 	width: 13%;
 
 	background-color: hsla(61,66%,85%,1);
 	
 }
 .userSearch {
 display: flex;
 justify-content: flex-start;
  width: 50%;
  position: absolute;
margin: 0 auto;
top: 20px;
right: 306px;
/*float: left;*/
  
}
.homeDayContainer {
  position: absolute;
  top: 540px;
  width: 50%;
  height: 70px;
  right:320px;
  display: flex;
  justify-content: space-between;

}
.homeDay {
  height:120%;
  width:13%;
  background:hsla(12,86%,42%,1);
  box-shadow: 0 0 10px hsla(0,0%,17%,1);
  text-align: center;
  font-size:10px;
}
.homeDay > img {
 width:100%; 
 height: 84%;
}
.col-sm-6.col-md-4 {
	-webkit-perspective: 800;
  position: relative;
	margin-top: 5%;
	display: flex;
	justify-content: center;
	
	
}


.btn-primary  {
	background-color: red;
}
p {
	padding-top: 50px;
	
}
.requestButtons {
	height: 35px;
	width: 100%;
	box-sizing: border-box;
	margin-top: 20px;

}



/*body {
 background: hsla(36,11%,18%,.5); 
 
}*/
#wrapper {
  height:3000px;
  width: 100%;
  position:absolute;
  top:42px;
   background: hsla(36,11%,18%,.5);
}
.card {
  box-shadow: 0 0 10px hsla(0,0%,17%,1);
  border-radius: 5px;

}
.face {
  border-radius: 5px;
}
.card:hover {
  box-shadow: 0 0 15px hsla(11,59%,47%,1);
}

.flip-container {
   position: absolute;
  top: 80px;
  right: 65px;
border-radius: 5px;
  height: 60%;
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.flip {
  -webkit-perspective: 800;
   width: 300px;
   height: 400px;
  /* position: relative;
   left: 80px;
   top: 50px;*/
   display: flex;
   justify-content: space-between ;
     margin-bottom: 20px;

  
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 9999;
    font-family: Georgia;
    font-size: 1em;
   
   
   /* line-height: 200px;*/
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: white;
    color: white;
    cursor: pointer;
    border: 1px solid transparent;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
 	position: absolute;
 	margin: 0 auto;
    background: white;
    color: black;
    cursor: pointer;
    border: 1px solid transparent;
    z-index: 99;
    overflow: auto;
}

.icons {
  margin: 10px auto;
  width: 54%;
 display: flex;
 justify-content: space-between;
}

.weekDays {
width: 70%;
 margin: 0 auto;

}
.calendarButton {
width: 50%;
margin: 0 auto;
}
.calendarButton > button > span {
display: inline-block;
font-size: .75em;
}
.btn-number{
  width: 100%;
margin: 0 auto;
background-color: hsla(36,100%,50%,1);
box-shadow:0 0 3px hsla(0,0%,17%,1);
}
.stars {
  width: 45%;
  position:relative;
  top: 14px;
  left: 90px;
}
.image {
  overflow: hidden;
  position: absolute;
  height: 665px;
  width: 100%;
  top: 41px;

  
}
.userSearch2 {
position: absolute;
top: 300px;
right: 300px;
height: 30px;
width: 50%;
  z-index: 3;
}

.fa-heart:active{ 
   color: red;
}

.redHeart {
  background-color: red;
}
.greyedOut {
  top: 0px;
  height:101%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: wrap;
  z-index: 9999;
  background:hsla(70,8%,15%,.2);
  /*-webkit-filter: grayscale(0.5) blur(2px);*/

}
.greyedOut1 {
  top: 0px;
  height:100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: wrap;
  z-index: 7;
  background:hsla(70,8%,15%,.7);
  /*-webkit-filter: grayscale(0.5) blur(2px);*/

}

/*.secondGreyedOut {
  position: absolute;
  top:100px;
  height: 120px;
  width: 160px;
  box-sizing: border-box;
  border: 1px solid black;
  background:hsla(70,8%,15%,.7);
  z-index:999;

}*/
.info {
  margin: 0 auto;
  width: 500px;
  height: 70%;
  background: white;
  position: relative;
  top: 75px;
  z-index: 2;
  box-shadow: 0 0 10px hsla(0,0%,17%,1);
  overflow: auto;
 
}
.infoQuestion {
  margin: 0 auto;
  width: 350px;
  height: 20%;
  background: white;
  position: relative;
  top: 195px;
  z-index: 2;
  box-shadow: 0 0 10px hsla(0,0%,17%,1);
  overflow: auto;
 
}
.redirectButtons {
  margin: 0 auto;
  width: 30%;
  box-sizing: border-box;
  /*border: 1px solid black;*/
  display: flex;
  justify-content: space-between;
}

.fa-times-circle-o {
  float: right;
  margin-right: 2px;

}
.fa-times-circle-o:hover{
  color: hsla(360,100%,50%,.6)
}
.fa-trash-o {
  margin: 0 auto;
}
.fa-trash-o:hover {
 color: hsla(360,100%,50%,.6);
}

.calendarImage {
  height: 25%;
  width: 20%;
  margin: 10px auto 10px auto;
  box-shadow: 0 0 2px hsla(0,0%,17%,1);
}
.calendarTitle {
  font-size: 40px;
  text-align: center;
  margin:0 auto 10px auto;
}

.calendarDirections {
  width: 80%;
  margin: 20px auto;
}
















