
<!-- ng-repeat="recipe in recipes" -->
<div id="wrapper"></div>


<div class='flip-container'>
  <div class="flip" ng-repeat="recipe in recipes"> 
    <div class="card" ng-class="{'flipped':isFlipped}" > 
      <div class="face front"> 
        <div class='secondImage'>
              <img ng-click="isFlipped=!isFlipped" src='http://redirect.bigoven.com/pics/rs/256/recipe-no-image.jpg' 
              ng-src='{{recipe[2]}}'>
         <div class='title'>{{recipe[5]}}</div>
          <div class='ratings'>
            <div class='icons'>
             <i class="fa fa-calendar fa-2x" ng-click='myVar = !myVar; starDisplay = !starDisplay'></i>
             <i class="fa fa-shopping-cart fa-2x"></i>
            </div>
              <div class='weekDays' ng-show='myVar'>
               
                
              <div class='inputDays'>
                  
                  <label for="my_radio_button_id2">M
                    <input type='radio' name='day' ng-model='day' value='monday'>
                  </label>
                    
                    <label for="my_radio_button_id2">T
                      <input type='radio' name='day' ng-model='day' value='tuesday'>
                    </label>
                      
                      <label for="my_radio_button_id3">W
                        <input type='radio' name='day' ng-model='day' value='wednesday'>
                      </label>
                        
                        <label for="my_radio_button_id4">Th
                          <input type='radio' name='day' ng-model='day' value='thursday'>
                        </label>
                          
                      <label for="my_radio_button_id5">F
                        <input type='radio' name='day' ng-model='day' value='friday'>
                      </label>
                    
                    <label for="my_radio_button_id6">S
                      <input type='radio' name='day' ng-model='day' value='saturday'>
                    </label>
                              
                  <label for="my_radio_button_id7">Su
                    <input type='radio' name='day' ng-model='day' value='sunday'>
                  </label>

              </div>
                  <div class='calendarButton'>
                    <button class='btn btn-xs btn-number'  ng-click='addRecipe(day, recipe[9]); myVar = !myVar; starDisplay = !starDisplay'>
                      <span style='text-align: center;'>Add</span>
                      <span style='text-align: center;'>{{day}}</span>
                    </button> <!-- the day in addRecipe is the value stored on the ng-model from the radio button value above -->
                  </div>
              </div>
                <div class='stars' ng-hide='starDisplay'>
                  <star-rating rating='recipe[7]'></star-rating>
                </div>
          </div>
        </div>
      </div> 
        <div class="face back" ng-click="isFlipped=!isFlipped"> 
          <div class='firstIngredients'>
            <h1 style='text-align: center;'>{{recipe[5]}}</h1>
            <h2>Ingredients</h2>
            <ul ng-repeat='firstItems in recipe[0]'>
              <li style='width: 100%; height: 100%'>{{firstItems.Name}} {{firstItems.Quantity}} {{firstItems.Unit}} </li>
            </ul>

          </div>
        </div>        
    </div> 
  </div> 
</div> 
<button ng-click='deleteFav(recipe[9])'></button>



<!-- <div class='flip-container2'>
  <div class="flip2" ng-repeat="recipe in recipes"> 
    <div class="card2" ng-class="{'flipped':isFlipped}" > 
      <div class="face2 front2"> 
        <div class='secondImage'>
              <img ng-click="isFlipped=!isFlipped" src='http://redirect.bigoven.com/pics/rs/256/recipe-no-image.jpg' 
                  ng-src='{{recipe[2]}}'>
         <div class='title'>{{recipe[5]}}</div>

          <div class='ratings'>
            <div class='icons'>
             <i class="fa fa-heart fa-2x" ng-click='addRecipe("favorites", recipe[9])'></i>
             <i class="fa fa-calendar fa-2x" ng-click='myVar = !myVar; starDisplay = !starDisplay'></i>
             <i class="fa fa-shopping-cart fa-2x"></i>
            </div>
              <div class='weekDays' ng-show='myVar'>
                
                
              <div class='inputDays'>
                  
                  <label for="my_radio_button_id2" >M
                    <input type='radio' name='day' ng-model='day' value='monday'>
                  </label>
                    
                    <label for="my_radio_button_id2">T
                      <input type='radio' name='day' ng-model='day' value='tuesday'>
                    </label>
                      
                      <label for="my_radio_button_id3">W
                        <input type='radio' name='day' ng-model='day' value='wednesday'>
                      </label>
                        
                        <label for="my_radio_button_id4">Th
                          <input type='radio' name='day' ng-model='day' value='thursday'>
                        </label>
                          
                          <label for="my_radio_button_id5">F
                            <input type='radio' name='day' ng-model='day' value='friday'>
                          </label>
                            
                            <label for="my_radio_button_id6">S
                              <input type='radio' name='day' ng-model='day' value='saturday'>
                            </label>
                              
                              <label for="my_radio_button_id7">Su
                                <input type='radio' name='day' ng-model='day' value='sunday'>
                              </label>
             </div>
                  <div class='calendarButton'>
                    <button class='btn btn-xs btn-number'  ng-click='addRecipe(day, recipe[9]); myVar = !myVar; starDisplay = !starDisplay'>
                      <span style='text-align: center;'>Add</span>
                      <span style='text-align: center;'>{{day}}</span>
                    </button> <!-- the day in addRecipe is the value stored on the ng-model from the radio button value above
                  </div>
              </div>
                <div class='stars' ng-hide='starDisplay'>
                  <star-rating rating='recipe[7]'></star-rating>
                </div>
          </div>
        </div>
      </div> 
        <div class="face2 back2" ng-click="isFlipped=!isFlipped"> 
          <div class='firstIngredients'>
            <h1 style='text-align: center;'>{{recipe[5]}}</h1>
            <h2>Ingredients</h2>
            <ul ng-repeat='firstItems in recipe[0]'>
              <li style='width: 100%; height: 100%'>{{firstItems.Name}} {{firstItems.Quantity}} {{firstItems.Unit}} </li>
            </ul>
          </div>
        </div>        
    </div> 
  </div> 
</div>  --> 